@media only screen and (max-width: 993px) {
	nav .input-field{
		display: none;
	}
	nav .brand-logo.right{
		left: 50%;
		-webkit-transform: translateX(-100%);
		transform: translateX(-26%);
	}
}

.fixed-action-btn{
	bottom: 70px; right: 70px;
}

@media screen and (max-width:480px) {
	.fixed-action-btn{
		bottom: 45px; right: 25px;
	}
}

.grey-text {
	font-family: thin;
}

body {
	background-color: #eeeeee;
}

.mtop50
{
    margin-top: 30px;
}

